<div class="standard-dialog-container">

    <!-- Header -->
    <app-dialog-header
        *ngIf="data.title"
        [title]="data.title"
        [showCloseButton]="data.dismissible"
        (close)="onClose()"
    ></app-dialog-header>

    <!-- Content -->
    <div class="standard-dialog-content">
        
        <!-- Mensaje -->
        <app-shared-alert [name]="'subTypeForm'"></app-shared-alert>

        <!-- Formulario -->
        <form class="w-full" [formGroup]="form">

            <div class="flex-wrap items-center font-medium hidden md:flex pb-4">
                <div>
                    <a class="whitespace-nowrap text-primary-500">
                        {{ tipo.name | uppercase }}
                    </a>
                </div>
                <div class="ml-1 flex items-center whitespace-nowrap">
                    <mat-icon
                        class="text-secondary icon-size-5"
                        [svgIcon]="'heroicons_mini:chevron-right'"
                    ></mat-icon>
                    <a class="ml-1 text-primary-500">{{ subtipo.name | uppercase }}</a>
                </div>
                <div class="ml-1 flex items-center whitespace-nowrap">
                    <mat-icon
                        class="text-secondary icon-size-5"
                        [svgIcon]="'heroicons_mini:chevron-right'"
                    ></mat-icon>
                    <a class="ml-1 text-primary-500">{{ cuenta.name | uppercase }}</a>
                </div>
            </div>

            <div class="flex flex-col md:flex-row justify-center items-center gap-0 md:gap-8 w-full">
                <!-- Codigo -->
                <app-input-form
                    class="flex flex-col md:flex-row items-baseline md:w-1/4 w-full"
                    classes="w-full"
                    [form]="form"
                    controlName="code"
                    label="Codigo"
                    icon="heroicons_outline:identification"
                    [useIcon]="false"
                    [typeMatHint]="'label'"
                    [useMatPrefix]="data.is_new_record"
                    [matPrefixLabel]="cuenta.code"
                    [useOnlyNumberMask]="true"
                    [maxLength]="largo_codigo"
                ></app-input-form>

                <!-- Primer nombre -->
                <app-input-form
                    class="flex flex-col md:flex-row items-baseline w-full"
                    classes="w-full"
                    [form]="form"
                    controlName="name"
                    label="Nombre"
                    icon="heroicons_outline:user-circle"
                    [useIcon]="true"
                ></app-input-form>
            </div>

            <!-- Configuracion IFRS -->
            <app-config-card
                [title]="'Configuracion cuenta IFRS'"
                [summary]="resumenIfrs"
            >
                <div class="space-y-4">
                    <div class="flex flex-col items-start w-full">
                        <app-select-with-filter
                            class="w-full"
                            [allOptions]="ifrs_accounts"
                            [matLabel]="'Plan de Cuenta IFRS según SII'"
                            [needEmitChange]="false"
                            [show_atribute_option]="'code'"
                            [primaryKey]="'code'"
                            [controlName]="'ifrs_account'"
                            [parentForm]="form"
                            icon="feather:layers"
                            [useIcon]="true"
                        ></app-select-with-filter>
                    </div>
                </div>
            </app-config-card>

            <!-- Configuracion operativa -->
            <app-config-card
                [title]="'Configuracion Operativa'"
                [summary]="resumenOperativa"
            >

                <!-- Contenido interno cuando abre -->
                <div class="space-y-4">

                    <!-- Trabaja con auxiliar con rut -->
                    <div class="flex flex-row items-start w-full">
                        <app-toggle-button
                            class="w-full"
                            classes="flex items-center justify-between sm:col-span-4"
                            [form]="form"
                            title="Trabaja con Auxiliar con RUT"
                            controlName="trabaja_con_auxiliar_con_rut"
                            description="Requiere especificar auxiliares que usan identificación tributaria (RUT) en los registros contables de ingresos o gastos asociados."
                            [useDescription]="true"
                            (valueChange)="changeValueToggleButton('entidad', $event)"
                            icon="heroicons_outline:identification"
                            [useIcon]="true"
                        ></app-toggle-button>
                    </div>

                    <!-- Trabaja con auxiliar sin rut -->
                    <div class="flex flex-row items-start w-full">
                        <app-toggle-button
                            class="w-full"
                            classes="flex items-center justify-between sm:col-span-4"
                            [form]="form"
                            title="Trabaja con Auxiliar sin RUT"
                            controlName="trabaja_con_auxiliar"
                            description="Requiere especificar auxiliares que no usan identificación tributaria (RUT) en los registros contables de ingresos o gastos asociados."
                            [useDescription]="true"
                            (valueChange)="changeValueToggleButton('auxiliar', $event)"
                            icon="mat_solid:business_center"
                            [useIcon]="true"
                        ></app-toggle-button>
                    </div>

                    <!-- Trabaja con centro de costo -->
                    @if(data && data.company_allow_cost_center){
                        <div class="flex flex-row items-start w-full">
                            <app-toggle-button
                                class="w-full"
                                classes="flex items-center justify-between sm:col-span-4"
                                [form]="form"
                                title="Trabaja con Centro de Costos"
                                controlName="trabaja_con_centro_costo"
                                description="Requiere especificar un centro de costo en los registros contables de ingresos o gastos asociados."
                                [useDescription]="true"
                                icon="heroicons_outline:building-storefront"
                                [useIcon]="true"
                            ></app-toggle-button>
                        </div>
                    }

                    <!-- Trabaja con numero de operacion -->
                    <div class="flex flex-row items-start w-full">
                        <app-toggle-button
                            class="w-full"
                            classes="flex items-center justify-between sm:col-span-4"
                            [form]="form"
                            title="Trabaja con N° de operación"
                            controlName="trabaja_con_numero_operacion"
                            description="Requiere especificar el ingreso de un número de operación asociado al movimiento contable, útil para controlar pagos, transferencias u otras transacciones identificables."
                            [useDescription]="true"
                            icon="mat_solid:confirmation_number"
                            [useIcon]="true"
                        ></app-toggle-button>
                    </div>

                    <!-- Trabaja con numero de despacho -->
                    <div class="flex flex-row items-start w-full">
                        <app-toggle-button
                            class="w-full"
                            classes="flex items-center justify-between sm:col-span-4"
                            [form]="form"
                            title="Trabaja con N° de despacho"
                            controlName="trabaja_con_numero_despacho"
                            description="Requiere especificar el ingreso de un número de despacho asociado al movimiento contable, útil para controlar transacciones aduaneras."
                            [useDescription]="true"
                            icon="mat_solid:confirmation_number"
                            [useIcon]="true"
                        ></app-toggle-button>
                    </div>
                </div>

            </app-config-card>

            <!-- Configuracion Tesoreria -->
            <app-config-card
                [title]="'Configuracion Tesoreria'"
                [summary]="resumenTesoreria"
            >

                <div class="space-y-4">

                    <div class="flex flex-col items-start w-full">
                        <app-toggle-button
                            class="w-full"
                            classes="flex items-center justify-between sm:col-span-4"
                            [form]="form"
                            title="Trabaja con tesorería"
                            controlName="show_in_treasury"
                            description="Este marcador es para poder realizar acciones de tesorería a la cuenta, sea para indicar pagos y/o cobros."
                            [useDescription]="true"
                            icon="mat_solid:monetization_on"
                            [useIcon]="true"
                        ></app-toggle-button>

                        @if(form.get('show_in_treasury')?.value){

                            <div class="pt-4">

                                <mat-radio-group
                                    formControlName="treasury_type"
                                    class="flex flex-col gap-1"
                                >

                                    <mat-radio-button value="bank">
                                        Cuenta Banco
                                    </mat-radio-button>

                                    <mat-radio-button value="cash_box">
                                        Cuenta Caja
                                    </mat-radio-button>

                                    <mat-radio-button value="receivable_payable">
                                        Cuenta por Pagar / Cobrar
                                    </mat-radio-button>

                                </mat-radio-group>

                            </div>

                        }
                    </div>

                </div>

            </app-config-card>

            <!-- Configuracion Cuenta Maestra -->
            <app-config-card
                [title]="'Cuenta Maestra'"
                [summary]="resumenCuentaMaestra"
            >

                <div class="space-y-4">

                    <div class="flex flex-row items-start w-full">
                        <app-toggle-button
                            class="w-full"
                            classes="flex items-center justify-between sm:col-span-4"
                            [form]="form"
                            title="Configuración de Cuenta Maestra"
                            controlName="asignacion_cuenta_contable"
                            description="Las cuentas maestras, son asignaciones especiales de caracter unicos para generar proceso específicos y automáticos dentro del sistema."
                            [useDescription]="true"
                            icon="mat_solid:stars"
                            [useIcon]="true"
                            (valueChange)="changeValueToggleButton('cuenta_maestra', $event)"
                        ></app-toggle-button>
                    </div>

                    <!-- Asignacion cuenta maestra -->
                    @if (asignacion_cuenta_contable){
                        <div class="flex flex-col items-start w-full">
                            <app-select-with-filter
                                class="w-full"
                                [allOptions]="account_categories"
                                [matLabel]="'Cuenta Maestra'"
                                [needEmitChange]="true"
                                [show_atribute_option]="'name'"
                                [controlName]="'cuenta_maestra'"
                                [parentForm]="form"
                                icon="heroicons_solid:star"
                                [useIcon]="true"
                                (changeValue)="onMasterAccountChange($event)"
                            ></app-select-with-filter>
                            @if(cuenta_maestra){
                                <span class="text-sm text-bold text-sky-700">
                                    Descripción: {{ cuenta_maestra.description }}
                                </span>
                            }
                        </div>
                    }

                </div>

            </app-config-card>

        </form>

    </div>

    <!-- Footer -->
    <app-dialog-footer>
        <!-- Cancel -->
        <app-dialog-button-cancel
            [label]="data.actions.cancel.label"
            [disabled]="isLoading"
            (cancel)="onClose()"
        ></app-dialog-button-cancel>

        <!-- Confirm -->
        <app-dialog-button-confirm
            [label]="data.actions.confirm.label"
            [color]="data.actions.confirm.color"
            [isLoading]="isLoading"
            [disabled]="form.invalid"
            (confirm)="onSubmit()"
        ></app-dialog-button-confirm>
    </app-dialog-footer>

</div>
